body {
    margin: 0;
    padding: 0;
    /* background-image: url('../assets/background4.jpg');
     */
    /* background-size: cover; */
    background-image: linear-gradient(to bottom right, #ffffff 0%, #ace0f9 100%);
}

::-webkit-scrollbar {
    display: none;
}


.img {
    width: 10px;
    height: 10px;
}