body {
    margin: 0;
    padding: 0;
    background-image: cover;
  background-image: linear-gradient(to bottom right, #ffffff 0%, #ffffff 25%,#50c7ff 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

::-webkit-scrollbar {
    display: none;
}

.img {
    width: 10px;
    height: 10px;
}